<div class="container-fluid">
	<div id="gentle-cont">
		<form id="gentle-cont">		
			
			<a id="ownnav" class="d-flex text-dark text-decoration-none" href="/sozluk">
				<img src="/static/assets/home.png">
				<span id="ownnav-t" class="text-dark text-decoration-none">Türkçe-Japonca Sözlük</span>
			</a>
			
			<div class="input-group p-3">
				<input type="text" class="form-control" name="search" placeholder="Kelime Ara">
				<button class="btn btn-outline-secondary" type="submit" id="button-addon2">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				Ara!
				</button>
			</div>
			
			<div id="" class="d-flex justify-content-center align-items-center m-2">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="search_opt" value="Türkçe" id="tr" checked>
					<label class="form-check-label m-1" for="tr"> Türkçe </label>
				</div>
	
				<div class="form-check">
					<input class="form-check-input" type="radio" name="search_opt" value="Japonca" id="jp">
					<label class="form-check-label m-1" for="jp"> Japonca </label>
				</div>
		
				<div class="form-check">
					<input class="form-check-input" type="radio" name="search_opt" value="Romaji" id="rj">
					<label class="form-check-label m-1" for="rj"> Romaji </label>
				</div>
			</div>	
		</form>

		<div id="addw">
			<a href="/sozluk/addword">
				<button id="btnfuck" class="btn btn-dark">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
						<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
					</svg> Ekle
				</button>
			</a>
		</div>	
	</div>
</div>

